
body {
	background-color:#87CEEB;
}

img.fly-birds {
	height: 130px;
	width: 230px;
	position: relative;
	top: 0;
}

.feature-block {
	background-image: url("../img/background/bird-sil.jpg");
	background-repeat: no-repeat;
	min-height: 1400px;
 	width: 1600px;
}