
body {
	background-color:#87CEEB;
}

header {
	height: 100px;
}


img.fly-birds {
	height: 110px;
	width: 13%;
	position: relative;
	top: 0;
}

img#first-birds {
	margin-left:2%;

}

.feature-container {
	position: relative;
	height: 1000px;
	width: 100%;

}

.main-img {

}

.main-bg {
	position: relative;
	width: 100%;
	height: 868px;
	/* text-align: center; */
}

.text-container {
	font-family: "gisha","calibri",sans-serif;
	position: absolute;
	height: 82%;
	width: 43%;
	/* text-align: center; */
	left: 0.7%;
	top: 20px;
	background-color: #DCDCDC;
	opacity: 0.8;
	border-radius: 7%;
	text-align: center;

}

.callout {
	color: #DC143C;
	font-size: 48px;
	height: 50%;
}

.start {
	top: 52%;
	left: 12%;
	width: 20%;
}

button {
	width: 100%;
}

.top-msg, .mid-msg, .btm-msg, .start {
	position: absolute;
}

.top-msg, .mid-msg, .btm-msg {
	left: 1%;
}

.top-msg {
	top: 3%;
}

.top-msg>p {
	font-size: 150%;
	font-weight: bold;
}

.mid-msg {
	top: 18%;
}

.mid-msg-final {
	top: 46%;
}

.btm-msg {
	top: 34%;
}

.btm-msg-final {
	top: 68%;
	font-size: 140%;
}

.initiate, .calc-score {
	background-color: #DC143C;
	border: 3px solid black;
	height: 50px;
	font-size: 20px;
	border-radius: 16%;
}

.calc-score {
	height: 82px;
	line-height: 30px;
	text-align: center;
}

.bird-img {
	position: absolute;
	right: 0.4%;
	top: 120px;
	width: 55%;

}

.bird {
	height: 820px;
	width: 99%;
	border-radius: 6%;
}

.option-container {
	color: #DC143C;
	font-family: "gisha","calibri",sans-serif;
	font-size: 40px;
	position: absolute;
	height: 56%;
	width: 45%;
	top: 28%;

}

.option-list {
	width: 90%;
	position: absolute;
	left: 7%;
	height: 100%;
}

.option{
	color: #191970;
	background-color: #E0FFFF;
	width: 93%;
	height: 20%;
	text-align: center;
	margin-bottom: 20%;
	vertical-align: middle;
}

.answer-correct, .answer-wrong {
	position: absolute;
	top: 18%;
	left: 5%;
}

.answer-correct {
	font-size: 72px;
}

.answer-wrong {
	font-size: 63px;
}

.mouse-over {
	text-decoration: underline;
	font-weight: bolder;
}

.correct-bird-confirm {
	margin-top: 15%;
	text-decoration: none;
	font-weight: normal;
	font-style: italic;
	list-style: none;
	font-size: 64px;
	vertical-align: middle;
}

.conclusion-confirm1 {
	position: absolute;
	top: 9%;
	left: 6.3%;
	line-height: 32px;
	color:black;
}

.button-move-up {
	top: 5%;
	width: 30%;
	left: 7%;
}

#bird3>ul>li.correct-bird-confirm {
	font-size: 104%;
}

#bird0>ul>li.correct-bird-confirm, #bird9>ul>li.correct-bird-confirm {
	height: 23%;
}

#bird1>ul>li.correct-bird-confirm, #bird5>ul>li.correct-bird-confirm, #bird7>ul>li.correct-bird-confirm, #bird8>ul>li.correct-bird-confirm {
	height: 13%;
}

#bird2>ul>li.correct-bird-confirm, #bird4>ul>li.correct-bird-confirm, #bird6>ul>li.correct-bird-confirm {
	font-size: 140%;
}